* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(120deg, black, #c084fc);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: rgba(0,0,0,0.2);
  padding: 15px 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-box {
  flex: 1;
  background: white;
  border-radius: 14px;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 14px;
  line-height: 1.4;
}

.user {
  align-self: flex-end;
  background: #d9d6ff;
}

.bot {
  align-self: flex-start;
  background: #efeaff;
}

.input-area {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  border-radius: 20px;
  padding: 10px 14px;
  border: none;
  outline: none;
}

.input-area button {
  border: none;
  padding: 10px 14px;
  border-radius: 50px;
  cursor: pointer;
  background: #6c2cf8;
  color: white;
  transition: 0.2s;
}

.input-area button:hover {
  transform: scale(1.05);
}

/* Mobile */
@media (max-width: 600px) {
  .chat-box {
    font-size: 14px;
  }
}
